{% extends "base.html" %}
{% block content %}
<nav class="navbar sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Stock Tracker</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="container">
   <div class="ct-chart ct-golden-section"></div>
   <script type="text/javascript">
      var labels = [{% for item in labels %}
                     "{{item}}",
                    {% endfor %}];
      var values = [{% for item in values %}
                     {{item}},
                    {% endfor %}];
   </script>
   <script type="text/javascript" src="static/chartistJS_test.js"></script>

   <!-- ChartJS -->
   <!-- <canvas id="myChart" width='1000' height="400"></canvas>
   <script type="text/javascript">
      var legend = '{{legend}}';
      var labels = [{% for item in labels %}
                     "{{item}}",
                    {% endfor %}];
      var values = [{% for item in values %}
                     {{item}},
                    {% endfor %}];
   </script>
   <script type="text/javascript" src="static/lineGraph.js"></script>
   <p>{{chartXY}}</p> -->

</div>

{% endblock %}
